@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Animasi Marquee yang Smooth */
  --animate-marquee: marquee var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      /* Menggunakan gap untuk kalkulasi pergeseran yang presisi agar tidak patah */
      transform: translateX(calc(-50% - var(--gap) / 2));
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}